.App-header {
  display: flex;
  align-items: center;
}

.App-header h1 {
  color: #ee3c3c;
}

.AppLogo {
  height: 200px;
}

hr {
  background-color: #ee3c3c;
  border: none;
  height: 0.25em;
}

.App-body {
  height: 60vh;
}

.App-body p {
  padding: 30px;
}

.App-footer p {
  text-align: center;
  font-style: italic;
  font-size: 1.1rem;
}
